html {
    background-color: black;
    font-family: 'Libre Baskerville', serif;
}

div {
    text-align: center;
}

img {
    width: 25%;
    margin-top: 30px;
    border: 5px solid white;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}

p {
    color: white;
}

